{% extends 'base.html' %}
{% block title %}  Post {% endblock %}

{% block body %}
<style>
<!--    for comments-->
    .navbar-nav {
    width: 100%
}

@media(min-width:568px) {
    .end {
        margin-left: auto
    }
}

@media(max-width:768px) {
    #post {
        width: 100%
    }
}

#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}

<!--body {-->
<!--    background-color: black-->
<!--}-->

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}

.darker {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(184, 183, 183)
}

h1 {
    color: black;
    font-weight: bold
}

h4 {
    color: white;
    font-weight: bold
}

label {
    color: rgb(212, 208, 208)
}

#align-form {
    margin-top: 20px
}

.form-group p a {
    color: white
}

#checkbx {
    background-color: black
}

#darker img {
    margin-right: 15px;
    position: static
}

.form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px
}

form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px;

}


</style>
{% load static %}
<div class="container my-3">
    <div>
    <h2 class="blog-post-title">{{ blog.title }}</h2>
    <p class="blog-post-meta">{{blog.dateStamp}} by <a href="/about">{{blog.author}}</a> (<span>{{post.views}} views</span>)</p> <!-- for views -->
    <hr>
        <br>
        <p>{{blog.content | safe}}</p> <!--we use safe tag to add html tags in blogs while making it -->
    <hr>
    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary" href="#">Newer</a>
    </nav>
    </div>
</div>

<!--Comments-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments:</h1>
                {% for items in comments %}
                <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>{{ items.name }}</h4> <span>- 20 October, 2018</span> <br>
                    <p>{{ items.message }}</p>
                </div>
                {% endfor %}
<!--            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">-->
<!--            <div class="row align-left">-->
<!--                <form id="algin-form" method="post" action="/blog/blogPost/1/"> {% csrf_token %}-->
<!--                    <div class="form-group">-->
<!--                        <h4>Leave a comment</h4> <label for="message">Message</label> <textarea name="message" id="message" cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>-->
<!--                    </div>-->
<!--                    <div class="form-group"> <label for="name">Name</label> <input type="text" name="name" id="name" class="form-control"> </div>-->
<!--                    <div class="form-group"> <label for="email">Email</label> <input type="text" name="email" id="email" class="form-control"> </div>-->
<!--                    <div class="form-group"> <button type="Submit" id="post" class="btn">Post Comment</button> </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </div>
</section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mr-2" data-toggle="modal" style="margin-left: 150px" data-target="#signupModal">Want to do comment? Click me</button>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">For comment:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/blog/comment" method='post'>
  <div class="form-group">
    <label for="name">Name </label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="message">Comment:</label>
    <input type="text" class="form-control" id="message" name="message" placeholder="Enter your comment here" required>
  </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% endblock %}
